/* @font-face {
  font-family: GIGI;
  src: url(../fonts/GIGI.TTF);
} */
* {
  font-family: nnt-serif;
}
.h1 {
  color:#155451;
  padding: 1%;
  text-transform: capitalize;
  text-decoration: navy;
}
header {
  background-color: tomato;
  size: inherit;
  padding-left: 1.3%;
  padding-top: 2.1%;
  padding-right: 1%;
  padding-bottom: 2.4%;
  font-size: larger;
}
header > a {
  font-family: nnt-serif;
  font-size: medium;
  color: #003535;
  font-size: x-large;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 1%;
}

header:hover {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 3s;
  background-color: royalblue;
}
.body {
  padding: 0;
  margin: 0;
  background-color: yellowgreen;
  min-height: 100vh;
}
.input {
  display: flex;
  font-family: nnt-serif;
  font-style: normal;
  font-size: medium;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.output {
  /* .input { */
  display: flex;
  font-family: nnt-serif;
  font-style: normal;
  font-size: medium;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  /* } */
}
.footer {
  background-color: #1c1c1c;
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  top: 51vh;
}
footer > a {
  font-family: nnt-serif;
  font-size: medium;
  color: #003535;
  font-size: smaller;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 0%;
}
@font-face {
  font-family: nnt-serif;
  src: url(../fonts/droid-serif.ttf);
}



